body {
    position: relative;
    border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  footer{
    width:100%;
    .image-margin{
        margin-bottom:-5px;
    }
    .text-box{
    width:100%;
    font-size: 18px;
}
.main-header{
    font-size: 25px;
            font-family: "lato";
            font-weight: "regular";
            color: $redcolor;
           
}
.icon-style{
margin-top: 1.25rem;
}
.icon-style2{
   padding-bottom: 20rem;
    }

}
}